@charset "utf-8";
/* CSS Document */

.simple_format h1 {
    text-align: left;
    font-size: 2vw;
    line-height: 1.1;
    letter-spacing: 0.3em;
    color: #222;
    margin-bottom: 0.5em;
}

.simple_format h2 {
    text-align: left;
    font-size: 1.6vw;
    line-height: 1.1;
    letter-spacing: 0.3em;
    color: #222;
    margin-bottom: 0.5em;
}

.simple_format p {
    text-align: left;
    font-size: 1.6vw;
    line-height: 2.0;
    margin-bottom: 2em;
}

.simple_format ul {
    font-size: 18px;
    margin-top: 0px;
    text-align: left;
    line-height: 1.1
}

.simple_format span {
    margin-left: 1rem;
    line-height: 1.1
  }

.img_simple_format {
    width: 50%;
    height: auto;
}

.img_simple_format_meta {
    width: 50%;
    height: auto;
}
